body {
    margin: 0;
    font-family: sans-serif;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-image: radial-gradient(#838383, #c7b5a1);
    
  }

  .container {
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    text-align: center;
  }
  
  header {
    margin-bottom: 2rem;
  }
  
  h1 {
    font-size: 1.8rem;
    margin: 0;
  }
  
  .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  button, a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff62;
    border-radius: 50%;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    height: 60px;
    width: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
 
  
  
  button:hover,
  a:hover {
    background: #504e4bda;
  }
  
  footer {
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #777;
  }


  .precos {
    margin-top: 2rem;
    
    background-size: cover;
    background-position: center;
    
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  }
  
  .preco-item {
    
    background: #ffffff62;
    padding: 1rem;
    border-radius: 8px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  h2{
    color: bisque;
  }
  .preco-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: bisque;
  }
  
  
  .precos {
    margin-top: 2rem;
    
    background-size: cover;
    background-position: center;
    
    text-align: center;
    border-radius: 8px;

  }
  #precos2 {
    height: 300px; /* ou mais, dependendo da proporção das imagens */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-top: 2rem;
  }

  .tag-bazar {
    display: block;
    background: #ffffff62;
    color: white;
    padding: 1rem;
    border-radius: 60px;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    width: auto;
    height: 30px;
    margin-top: 20px;
    font-size: 20px;
    
  }
  
